.boxContent {
    height: 100%;
    margin-top: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* boxes style */

/* comapny logo and apprentice title */

.boxContainer {
    background: var(--white-bg);
    width: 45%;
    height: 23%;
    border: var(--basic-border-color);
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
}

.boxContainer:hover {
    border: var(--solid-border-color-responsive);
    transition: all .6s ease-out;
}

.boxContainer__first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.boxContainer__first-row--title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.4rem;
}

#info {
    stroke: var(--info-color);
}

#info:hover {
    cursor: pointer;
    stroke: var(--buttons-bg);
    stroke-width: 1.5;
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}

.boxContainer__content {
    height: 100%;
    border-radius: 0 0 1rem 1rem;
}

/* first box style */

.boxContent__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    gap: 1.5rem;
}

.boxContent__rectangle-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boxContent__rectangle {
    width: 6em;
    height: 6.3em;
    background: var(--user-bg);
    border-radius: 1rem;
    position: relative;
}

#image {
    position: absolute;
    top: 3rem;
    left: 3rem;
    stroke: none;
    cursor: pointer;
}

/* input style */

input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem 0;
    transition: all .4s ease-in-out;
}

input[type="text"]:focus {
    border: var(--solid-border-color-responsive);
    border-radius: 1rem;
    text-indent: 1em;
    transition: all .2s ease-in-out;
}

input[type="text"]::placeholder {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    opacity: .3;
}
