.boxContent {
    height: 100%;
    margin-top: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* boxes style */

/* comapny logo and apprentice title */

.boxContainer {
    position: relative;
    background: var(--white-bg);
    min-width: 45%;
    height: auto;
    padding: 1rem;
    border: var(--basic-border-color);
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in;
}

.boxContainer:nth-child(1) {
    margin-top: 1rem;
}

.boxContainer:hover {
    border: var(--solid-border-color-responsive);
    transform: scale(1.03);
    transition: all .6s ease-out;
}

.boxContainer__first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

.boxContainer__first-row--title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.4rem;
}

#info {
    stroke: var(--info-color);
}

#info:hover {
    cursor: pointer;
    stroke: var(--buttons-bg);
    stroke-width: 1.5;
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}

.boxContainer__content {
    height: 100%;
    border-radius: 0 0 1rem 1rem;
}

/* first box style */

.boxContent__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    gap: .5rem;
}

/* team type box */

.boxContent__teamType {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: .6rem;
}

.boxContent__rectangle-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boxContent__rectangle {
    width: 6em;
    height: 6.3em;
    background: var(--user-bg);
    border-radius: 1rem;
    position: relative;
}

#image {
    position: absolute;
    top: 3rem;
    left: 3rem;
    stroke: none;
    cursor: pointer;
}

/* input style */

#boxInput {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem 0;
    border-radius: 1rem;
    transition: all .4s ease-in-out;
    font-size: 1.4rem;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    overflow: auto;
    resize: none;
}

#boxInput:focus {
    border: var(--solid-border-color-responsive);
    border-radius: 1rem;
    text-indent: 1em;
    transition: all .2s ease-in-out;
    border: none;
    outline: none;
}

#boxInput::placeholder {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    opacity: .3;
}

/* input file type */

input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 66px;
    left: 24px;
    width: 741px;
    height: 68px;
    cursor: pointer;
}

.boxContent__input {
    position: relative;
    outline: none;
    border-radius: .4rem;
    background: var(--bg-page);
    border: var(--dashed-border-color);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.boxContent__label {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    line-height: 2.5em;
    font-feature-settings: 'liga' off;
    color: #778188;
}

.boxContent__fileContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-in-out;
}

.boxContent__fileContainer:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.boxContent__fileName {
    width: 100%;
    background: var(--container-bg);
    border-radius: .4rem;
    padding: 1em;
    padding-left: 2em;
    color: var(--buttons-bg);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 0.3px;
}

#deleteFile {
    position: absolute;
    right: 2em;
    cursor: pointer;
    stroke-width: .5;
    stroke: var(--buttons-bg);
}


/* team type style components */

.team {
    border: var(--basic-border-color);
    width: 19em;
    height: 7em;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team:has(input:checked) {
    background: var(--container-bg);
    border: var(--solid-border-color);
}

.team__first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .6rem;
    margin-bottom: 2em;
}

/* radiobuttons style */

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    border: var(--basic-border-color);
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    border: none;
    background: var(--container-bg);
}


input[type="radio"]::before {
    content: "";
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::after {
    content: url(../imgs/vuesax/bulk/Vector.svg);
    position: absolute;
    top: -.05em;
    left: -.15em;
}


.team__name {
    transform: translate(1em, -.5em);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
}

/* team roles container */

.role__dashedCont--roles {
    position: relative;
    bottom: 3em;
    left: 7em;
    display: flex;
    align-items: center;
    gap: .5em;
    border: var(--dashed-border-responsive);
    padding: .2rem .4rem;
    border-radius: .4rem;
    background: var(--white-bg);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.role__dashedCont--roles:hover {
    transform: scale(1.03);
    transition: transform .3s ease-in-out;
}

.role__dashedCont-name {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .6rem;
    letter-spacing: 0.3px;
    color: var(--buttons-bg);
}

#circle {
    stroke: var(--buttons-bg);
    stroke-width: 1;
    fill: none;
    width: 1.3em;
    height: 1.3em;

}

/* roles addition container */

.role__container {
    width: 100%;
    transform: translateY(-3em);
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 2em;
}

.role {
    padding: 1.5em;
    border: var(--basic-border-color);
    border-radius: 1.5em;
    max-height: 25em;
    max-width: 25em;
    flex: 0 0 100%;
}

.role__title-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3.5em;
    margin-bottom: 1em;
    flex: 0 0 100%;
}

.role__title {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: .8rem;
    white-space: nowrap;
}

.role__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.role__para {
    max-width: 100%;
    font-weight: 400;
    font-family: 'Space Grotesk';
    letter-spacing: 0.3px;
    color: var(--bg-color);
}

/* skills container */

.role__text-cont {
    box-sizing: border-box;
    padding: .3rem;
    background: #E7F0FF;
    border-radius: 8px;
    border: 1px solid #2153FF;
    white-space: nowrap;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role__text-cont:hover {
    background: var(--container-bg);
    border: var(--solid-border-color);
    cursor: pointer;
}

.role__text {
    color: #2153FF;
    letter-spacing: 0.3px;
}

.role__text:hover {
    color: var(--buttons-bg);
    letter-spacing: 0.3px;
}
/* team admin container */


.role__dashedCont--admin {
    position: relative;
    bottom: 3em;
    left: 7.3em;
    display: flex;
    align-items: center;
    gap: .5em;
    border: var(--dashed-border-responsive);
    padding: .2rem .4rem;
    border-radius: .4rem;
    background: var(--white-bg);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.role__dashedCont--admin:hover {
    transform: scale(1.03);
    transition: transform .3s ease-in-out;
}

.user__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.user__linkedin {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 45%;
    border: var(--basic-border-color);
    padding: .8em;
    border-radius: 1rem;
    transform: translateX(.9rem);
}

.user__profile {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user__profile-name {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
}

.user__profile-rectangle {
    width: 4.5em;
    height: 4.5em;
    background: var(--user-bg);
    border-radius: 1rem;
}

/* timeline container style */

.dateCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    position: relative;
}

.dateCont__start, .dateCont__end {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#date-start {
    position: absolute;
    left: 26em;
    cursor: pointer;
}

#date-end {
    position: absolute;
    left: 57em;
    cursor: pointer;
}

#start {
    border: var(--solid-border-color-responsive);
    height: 3em;
    border-radius: .8rem;
    text-indent: 1rem;
    width: 100%;
}

#start:focus, #end:focus {
    outline: none;
}

#start::placeholder, #end::placeholder {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.4rem;
    opacity: .8;
}


#end {
    border: var(--solid-border-color-responsive);
    height: 3em;
    border-radius: .8rem;
    text-indent: 1rem;
    width: 100%;
}