.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-page);
    padding: 0 1rem;
    position: relative;
    margin-top: 1rem;
    height: 4rem;
    border-radius: 1rem;
    border: var(--basic-border-color);
}

.navTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    transition: all .3s ease-in-out;
}

.navTitle > svg {
    transition: all .3s ease-in-out;
}

.navTitle__name {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    opacity: .5;
}

.navTitle__active {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    color: var(--buttons-bg);
}


#tick {
    fill: none;
    stroke: var(--buttons-bg);
    stroke-width: 1.5;
}


