.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation */
    opacity: 0;
    transition: all .3s ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 400px;
    height: 200px;
    padding: 0 1rem;
    background-color: #fff;
    transform: translateY(-200px);
    transition: all .3s ease-in-out;
    border-radius: .7rem;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 18px;

}

.modal-body {
    border-top: var(--solid-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* modal body style */

.modal-body__title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 18px;
    padding: 10px 0;
    text-align: center;
    margin-top: 1rem;
}

.modal-body__input {
    box-sizing: border-box;
    padding: 10px 0;
    width: 90%;
    border: none;
    border-radius: .4rem;
    text-align: center;
    margin-top: 1rem;
}

.modal-body__input:focus {
    outline: none;
    border: var(--solid-border-color-responsive);
    transition: all .2s;
}


/* close button style */

.modal-footer {
    transform: translateX(-10px);
}

.button {
    padding: 5px 10px;
    border-radius: .3rem;
    border: var(--solid-border-color-responsive);
    background: var(--buttons-bg);
    color: var(--white-bg);
    cursor: pointer;

}