.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-bg);
    padding: 0 1rem;
    position: relative;
    margin-top: 1rem;
    height: 4rem;
    border-radius: 1.3rem;
    width: 100%;
}

#left-arrow {
    position: absolute;
    stroke: var(--buttons-bg);
    stroke-width: 1.5;
    top: 1rem;
    cursor: pointer;
}

.navbar__back {
    padding: .5rem;
    background: var(--white-bg);
    border: none;
    margin-left: 20px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.4rem;
    cursor: pointer;
}

.navbar__name {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 24px;
}

#publish {
    position: absolute;
    top: .96rem;
    right: 11.5rem;
    fill: none;
    stroke: #fff;
}


/* publishing apprenitceship modal style */

.publish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 2.5em;
}

.publish__icon {
    font-size: 11em;
}


.publish__text {
    font-size: 1.7em;
    font-weight: 400;
    max-width: 100%;
}