.navLinks {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;
    padding: 0 .25rem;
    background: var(--container-bg);
    border: var(--solid-border-color);
    border-radius: .7rem;
    margin-top: 10px;
    cursor: pointer;
}

svg {
    width: 1rem;
    stroke: #1E1E1E;
    stroke-width: 1.5;
}

svg:hover {
    stroke: #793EF5;
    stroke-width: 1.5;
}

.navLinks__title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: .6rem;
    line-height: 1.7rem;
    letter-spacing: 0.3px;
    color: var(--color-text);
}