.navLinks {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;
    padding: .1rem .15rem;
    background: var(--white-bg);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
}

.navLinks:hover {
    background: var(--container-bg);
    border: var(--solid-border-color);
    border-radius: .7rem;
    color: var(--buttons-bg);
}

.navLinks:hover svg {
    stroke: var(--buttons-bg);
}


svg {
    width: 20px;
    height: 20px;
    stroke: #1E1E1E;
    stroke-width: 1.5;
}

.navLinks__title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: .6rem;
    line-height: 1.7rem;
}