.notification {
    position: absolute;
    display: inline;
    background-color: var(--buttons-bg);
    color: var(--white-bg);
    transform: translate(90em, -8em);
    width: 30em;
    padding: 1.5em;
    text-align: center;
    border-radius: .6rem;
}

.notification__text {
    font-size: .8rem;
    font-weight: 500;
}
