*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 62.5%;    /* 62.5% = 10px */
}

:root {
  --bg-color: #1E1E1E;
  --buttons-bg: #793EF5;
  --color-text: #793EF5;
  --container-bg: #EDEAFF;
  --color-icons: #929090;
  --white-bg: #fff;
  --white-text: #fff;
  --basic-border-color: 1px solid #CFD3D9;
  --solid-border-color-responsive: 2px solid #793EF5;
  --dashed-border-color: 1px dashed #793EF5;
  --input-border-color: 1px solid #CECECE;
  --input-bg: #F5F5F7;
  --color-slash-eye: #F5F5F7;
}


