
.login {
    display: flex;
}

.left {
    flex: 0 0 50%;
    height: 100vh;
    background-color: var(--buttons-bg);
}

.right {
    flex: 0 0 50%;
    height: 100vh;
    position: relative;
    font-size: 62.5%;
}

.right__image {
    position: absolute;
    top: 77px;
    left: 278px;
}




/* form */

.right__form {
    position: absolute;
    max-width: 360px;
    height: 256px;
    top: 363px;
    left: 198px;
    padding: 0;
    gap: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* header login */

.right__header {
    display: inline;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
}

/* form inputs */

.right__input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    padding: 14px 16px;
    gap: 8px;
    background: var(--input-bg);
    border: var(--input-border-color);
    border-radius: 1.2rem;
    text-indent: 1.7rem;
}

.right__input-confirm {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    padding: 14px 16px;
    gap: 8px;
    background: var(--input-bg);
    border: var(--input-border-color);
    border-radius: 1.2rem;
    text-indent: 1.7rem;
    margin-top: 15px;
}

input[type="email"] {
    background-image: url('../../../imgs/SVG/sms.svg');
    background-repeat: no-repeat;
    background-position: 16px 13px;
    background-size: 20px;
}

input[type="email"]:focus {
    outline: none;
    outline-width: 0;
    border: var(--solid-border-color-responsive);
    transition: 0.2s ease-in;
}


input[type="password"]:focus {
    outline: none;
    outline-width: 0;
    border: var(--solid-border-color-responsive);
    transition: 0.2s ease-in;
}


/* checkbox remember */

.right__remember-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right__remember {
    display: flex;
    align-items: center;
    gap: 5px;
    transform: translateX(5px);
}

.right__remember > label {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 0.4px;
    color: #828282;
}

/* forgot password */

.right__remember-container > p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    color: var(--buttons-bg);
    text-indent: 16px;
}

/* signin button */
#signin {
    color: var(--color-text);
    text-decoration: none;
}
/* signup button */

#create {
    color: var(--color-text);
    text-decoration: none;
}

#forgot:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right__remember-container > p > #signin:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* login & signUp button */

.right__button {
    align-self: stretch;
    height: 48px;
    padding: 10px 16px;
    border: none;
    color: var(--buttons-bg);
    background: var(--white-bg);
    border: var(--basic-border-color);
    border-radius: 1.6rem;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.right__button:hover {
    color: var(--white-text);
    background: var(--buttons-bg);
    transition: 0.2s ease-in;
}

/* checkbox */

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* eye / slash eye */

.right__pass-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    outline: none;
    width: 360px;
    height: 100%;
    position: relative;
}

#eye {
    position: absolute;
    top: 16px;
    left: 325px;
    cursor: pointer;
    color: var(--color-icons);
}

#eye2 {
    position: absolute;
    top: 76px;
    left: 325px;
    cursor: pointer;
    color: var(--color-icons);
}

#lock {
    position: absolute;
    top: 14px;
    left: 16px;
    color: var(--color-icons);
    outline: none;
    border: none;
}

#lock2 {
    position: absolute;
    top: 76px;
    left: 16px;
    color: var(--color-icons);
    outline: none;
    border: none;
}

/* new user */

.right__new-user {
    border: none;
    background: var(--white-bg);
    color: var(--color-text);
    display: inline-block;
    width: 100%;
}

.right__new-user > #create:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* error message */

#error {
    color: red;
    position: absolute;
    top: 38em;
    left: 37em;
    background-color: rgb(249, 184, 184);
    padding: .8rem 3rem;
    border-radius: 1rem;
}

#success {
    color: green;
    position: absolute;
    top: 38em;
    left: 37em;
    background-color: rgb(170, 251, 170);
    padding: .8rem 3rem;
    border-radius: 1rem;
}